In [1]:
import scipy.stats as stats

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
dataset= sns.load_dataset('tips')

In [3]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
dataset_table=pd.crosstab(dataset['sex'],dataset['smoker'])

In [5]:
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [6]:
dataset_table.values

array([[60, 97],
       [33, 54]], dtype=int64)

In [8]:
#Observed Values
Observed_Values = dataset_table.values
print("Observed Values :-\n",Observed_Values)

Observed Values :-
 [[60 97]
 [33 54]]

In [9]:
val = stats.chi2_contingency(dataset_table)

In [10]:
val

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [11]:
Exceped_Values=val[3]

In [12]:
no_of_rows=len(dataset_table.iloc[0:2,0])
no_of_columns=len(dataset_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)
alpha = 0.05

Degree of Freedom:- 1

In [13]:
from scipy.stats import chi2

In [14]:
chi_square = sum([(o-e)**2./e for o,e in zip(Observed_Values,Exceped_Values)])
chi_square_statistic = chi_square[0]+chi_square[1]

In [15]:
print("chi-square statistic:-",chi_square_statistic)

chi-square statistic:- 0.001934818536627623

In [17]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical_value:',critical_value)

critical_value: 3.841458820694124

In [19]:
p_value = 1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value:',p_value)
print('Significance level: ',alpha) 
print('Degree of Freedom: ',ddof)
print('chi-square statistic:',chi_square_statistic)

p-value: 0.964915107315732
Significance level:  0.05
Degree of Freedom:  1
chi-square statistic: 0.001934818536627623

In [21]:
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables
Retain H0,There is no relationship between 2 categorical variables